<div class="navbar navbar-inverse navbar-fixed-top pal">
    <div class="container">
        <div id="home" class="logo">
            <a href="javascript:void(0)" class="navbar-brand">
             Food Recall Gateway
            </a>
        </div>
        <ul class="nav nav-pills pull-right">
            <li class="active"><a data-target="home" href="javascript:void(0);">Home</a></li>
            <li><a data-target="drugRecallGateway" href="https://drugrecallgateway.herokuapp.com/">Drug Recall Gateway</a></li>        
            <li><a data-target="deviceRecallGateway" href="https://devicerecallgateway.herokuapp.com/">Device Recall Gateway</a></li>        
             </ul>
    </div>
</div>
