<p>Welcome to our BETA site.  It is presented as a public service meant to complement the abundance of helpful food safety information available to the public.  This is NOT a website of the United States government.</p>

<h1 id="home" tabindex="-1"><%=content.headerText %><span class="sr-only">Food Recall Gateway</span></h1>

<p>
    Welcome to the Food Recall Gateway site! This site serves as a go-to resource for consumers to know when and where food recalls are occurring across the United States. <span id="extraText" style="display:none">The data provided on this site is intended to complement the federal information site, <a href="http://www.foodsafety.gov/" target="_blank">FoodSafety.gov</a>, by presenting dynamic visualizations of current food recall trends and user-friendly tools to inform consumers’ daily dietary habits. </span><a id="showMoreText" href="javascript:void(0)">Read More</a>
</p>
<p>
  <%=content.seachDescription %>
</p>
<!-- search section start-->
<div class="well  mtl mbl">
  <div id="searchContainer" class="row">
      <div class="col-md-9">
        <label for="select-fooditem" class="h2 mtn">Quick Search</label>
        <p>Multiple terms (up to three keywords related to food type) can be entered into the single search box.</p>
      </div>
      <div class="col-md-6">        
          <select id="select-fooditem" placeholder="Type here and select food item" name="searchTerms" multiple>
              <option value="">Select a food item...</option>
              <option value="cheese">Cheese</option>
              <option value="meat">Meat</option>
              <option value="apple">Apple</option>
              <option value="orange">Orange</option>
              <option value="eggs">eggs</option>
              <option value="chicken">chicken</option>
              <option value="zucchini">zucchini</option>
              <option value="dressing">Dressing</option>
          </select>
      </div>
      <div class="col-md-3 col-xs-6">
          <button id="btnSearch" class="btn btn-primary btn-block active"><i class="fa fa-search"></i> Search</button>
      </div>
      <div class="col-md-3 col-xs-6">
          <button type="button" class="btn btn-info active" data-toggle="collapse" data-target="#advSearchContainer">Advanced Search</button>
      </div>

      <div class="col-xs-12 collapse" id="advSearchContainer">
          <div class=" top_arrow_box mtl">
              <div class="row mbs">
                <div class="col-md-12">
                  <p>The Advanced Search function allows users to generate a more robust display of recent food recalls across the United States. You can select a year range, multiple keywords, search by multiple states, and filter results by food recall status.</p>
                </div>
              </div>
              <form role="form" class="row">
                <div class="col-md-4 col-xs-12" id="dateRangeSection">
            
                </div>
                <div class="col-md-5 col-xs-12" id="stateSection">
                  
                </div>
                <div class="col-md-3 col-xs-12" id="recallStatusSection">

                </div>            
              </form>
          </div>
      </div>
  </div>
</div>
